@font-face {
    font-family: "customFont";
    src: url("/font/QEPrintVersion.ttf");
    font-display: swap;
}

header {
    font-family: customFont;
    
}h1 {
    color: var(--h1-color);
}
body {
    background-color: var(--body-bg-color);
    font-size: 25px;
    flex-direction: column;
    align-items: center;
}
main {
    margin: auto;
}
button {
    size: 35px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
}
a {
    color: var(--a-color);
}

@media (max-width: 1100px)
{
    video {
        width: 400px;
    }
    h2 {
        font-size:25px;
    }

}
.empty-output {
    background-color: #3cc977;
    color: black;
    width: 30%;
    text-align: center;
    border-radius: 50px;
    margin: auto;
}
#local, #remote{
    margin-top: 10px;
}
@media (max-width: 700px)
{
    body {
        align-items: start;
    }
}
@media (max-width: 600px)
{
    video {
        width: 300px;
    }
    h2 {
        font-size:15px;
    }
    body {
        font-size: 15px;
        align-items: start;
    }
}
[theme='dark_mode'] 
{
    --body-bg-color: black;
    color: black;
    --a-color: rgb(41, 194, 221);
    --h1-color: white;
    --button-bg-color: rgb(111, 238, 164);
}
[theme='light_mode'] 
{
    --button-bg-color: white;
    --body-bg-color: rgb(137, 154, 228);
    --button-bg-color: rgb(111, 238, 164);
    
}